body {
  background-color: whitesmoke;
}

.login-container{
    max-width: 500px;

}

.comment{
  background-color: #DBE4EE;
}

.comment-reply{
  background-color: #E5EDF5;
}

.comment-response{
  background-color: #cdd1d6;
}

.username{
  color: #01204E;
}