<footer id="footer" class="container-fluid text-center pt-5">
    <div class="container-fluid">
        <a class="iconoir-github pe-3 text-black"
            href="https://github.com/GasinskiN/Web_development_V3/blob/main/index.html"></a>
        <i class="iconoir-facebook pe-3 text-black"></i>
        <i class="iconoir-twitter pe-3 text-black"></i>
        <i class="iconoir-instagram  pe-3 text-black"></i>
        <i class="iconoir-mail text-black"></i>
        <p class="pt-3">© Copyright Most Wanted 2024</p>
    </div>
</footer>
</body>

</html>