{% include 'partials/header.html' %}

<h1>Usuń Most</h1>
<form id="deleteBridgeForm">
    <label for="bridgeId">ID Mostu do Usunięcia:</label>
    <input type="number" id="bridgeId" name="bridgeId" required>
    
    <button type="button" onclick="submitForm()">Usuń Most</button>
</form>

<p id="responseOutput"></p>

<script>
    function submitForm() {
        var bridgeId = document.getElementById('bridgeId').value;
        
        fetch(`/api/delete_bridge/${bridgeId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                document.getElementById('responseOutput').innerText = data.message;
            } else {
                document.getElementById('responseOutput').innerText = data.error || "Wystąpił nieznany błąd.";
            }
        })
        .catch(error => {
            document.getElementById('responseOutput').innerText = "Wystąpił błąd: " + error;
        });
    }
</script>

{% include 'partials/footer.html' %}
