{% include 'partials/header.html' %}
    <div class="container-sm pt-5">
        <img src="../static/public/most_grunwaldzki.jpg" class="img-fluid" width="100%">
    </div>
    <div class="container-sm mt-5 mb-1">
        {% for comment in comments %}
        <div class="card card-body p-4 comment">
            {% for key, value in comment.items() %}
            {% if key == "username" %}
            <h5 class="username">{{value}}</h5>
            {% endif %}

            {% if key == "text" %}
            <h2>{{value}}</h2>
            {% endif %}

            {% if key == "likes" %}
            <h5>{{value}}<a class="iconoir-thumbs-up  ms-1 me-3" href="/forum/bridgeid/dislikes"></a>
            {% endif %}

            {% if key == "dislikes" %}
                {{value}}<a class="iconoir-thumbs-down ms-1" href="/forum/bridgeid/dislikes"></a></h5>
            {% endif %}

            {% endfor %}    
        </div>
        {% endfor %}

        <div class="card card-body mt-1 comment">
            <form action="/forum/bridgeid" method="post">
                <input type="text" name="comment" class="card card-body comment-response pt-2" placeholder="Comment">
                <button class="btn btn-secondary mt-2 ms-4" type="submit" value="submit">Dodaj komentarz</button>
            </form>
        </div>
    {% include 'partials/footer.html' %}