{% include 'partials/header.html' %}
    <div class="container-sm pt-5">
        <img src="{{image}}" class="img-fluid" width="100%">
    </div>
    <div class="container-sm mt-5 mb-1">
        {% for comment in comments %}
        <div class="card card-body p-4 comment">
            <h5 class="username">{{comment.username}}</h5>
            <h2>{{comment.text}}</h2>
        </div>
        {% endfor %}

        <div class="card card-body mt-1 comment">
            <form method="post">    
                <input type="text" name="text" class="card card-body comment-response pt-2" placeholder="Comment">
                <button class="btn btn-secondary mt-2 ms-4" type="submit" value="submit">Dodaj komentarz</button>
            </form>
        </div>
    {% include 'partials/footer.html' %}