{% include 'partials/header.html' %}
    <div class="container-sm text-center">
        <div class="card card-body">
            <h1>Check your location and pick a bridge to "collect"</h1>
        </div>
        <div class="card card-body text-center img-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.3653854295144!2d17.052813709654448!3d51.10924197506329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe9d58d48b7f5%3A0x591ca5ef9d53a8cb!2sGrunwald%20Bridge!5e0!3m2!1sen!2spl!4v1713875349323!5m2!1sen!2spl" 
            style="border:0;"  allowfullscreen="true" height="800px" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    {% include 'partials/footer.html' %}