{% include 'partials/header.html' %}
  <div class="container-fluid">
    <div class="container-sm">
      <div class="container-fluid mb-5 mt-5 pt-2 pb-2 text-center bg-secondary rounded-3">
        <h1 class="text-white rounded">Most Wanted</h1>
      </div>
    </div>
    <div class="container text-center p-4">
      <div class="row">
        <div class="col">
          <img src="../static/public/most_grunwaldzki.jpg" class="rounded img-thumbnail" width="300px" height="auto" alt="...">
        </div>
        <div class="col">
          <img src="../static/public/most-zwierzyniecki.jpg" class="rounded img-thumbnail" width="300px" height="auto" alt="...">
        </div>
        <div class="col">
          <img src="../static/public/most_linowy.jpg" class="rounded mx-auto d-block img-thumbnail" width="300px"
            height="auto" alt="...">
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Co to jest most wanted
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong> Most Wanted</strong> to studencki projekt w którym użytkownicy mają na
            na celu zebranie wszystkich mostów we wrocławiu.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Sposób działania
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Most Wanted</strong> działa na zasadzie geocaching. Sprawdza lokalizacje
            użytkownika i stwierdza
            czy jest on na którymś moście. Jeśli jest to daje użytkownikowi dostęp do forum dyskusji o tym moście. Na
            mostach również
            umieszczone są w ukrytych miejscach kody QR za które są dodatkowe punkty.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Leaderboard
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Punkty</strong> Dodatkowo za każdy "zebrany" most użytkownicy otrzymują punkty. Lista
            najlepszych użytkowników
            zostaje wyświetlona na liście rankingowej.
          </div>
        </div>
      </div>
    </div>
  </div>
    {% include 'partials/footer.html' %}