{% include 'partials/header.html' %}
<div class="container-sm text-center">
    <h1>Leaderboard</h1>
</div>
<div class="container-sm pt-5">
    <div class="container text-center leaderboard">
        <div class="row">
            <div class="col">
                <div class="card pt-2 rankData">
                    <h3>Rank</h3>
                </div>
            </div>
            <div class="col">
                <div class="card pt-2 usernameData">
                    <h3>Username</h3>
                </div>
            </div>
            <div class="col">
                <div class="card pt-2 pointsData">
                    <h3>Points</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // pobiera wszystkich użytkownikót z bazy danych oraz wypisuje ich na leaderboard
    $.get("/api/leaderboard", function (data) {
        for (const element of data) {

            let i = 0;
            let divRow = $("<div>", { "id": i, "class": "row" })
            $(".leaderboard").append(divRow)
            divCol1 = $("<div>", { "class": "col" })
            divCol2 = $("<div>", { "class": "col" })
            divCol3 = $("<div>", { "class": "col" })
            divRow.append(divCol1)
            divRow.append(divCol2)
            divRow.append(divCol3)
            divCard1 = $("<div>")
            divCard1.addClass("card mt-2 rankData")
            divCard2 = $("<div>")
            divCard2.addClass("card mt-2 usernameData")
            divCard3 = $("<div>")
            divCard3.addClass("card mt-2 pointsData")
            divCol1.append(divCard1)
            divCol2.append(divCard2)
            divCol3.append(divCard3)
            divCard1.append("<h3>"+ element.rank+"<h3>")
            divCard2.append("<h3>"+ element.username+"<h3>")
            divCard3.append("<h3>"+ element.points+"<h3>")
        }
    });
</script>

{% include 'partials/footer.html' %}