{% include 'partials/header.html' %}
    <div class="container-sm text-center">
        <h1>Leaderboard</h1>
    </div>
    <div class="container-sm pt-5">
        <div class="container text-center">
            <div class="row">
            <div class="col">
                <div class="card pt-2 rankData">
                </div>
            </div>
            <div class="col">
                <div class="card pt-2 usernameData">
                </div>
            </div>
            <div class="col">
                <div class="card pt-2 pointsData">
                </div>
            </div>
            </div>
        </div>
    </div>


<script>
    fetch('/api/leaderboard')
        .then(response => response.json())
        .then(data => {
            const displayUsername = document.getElementsByClassName("usernameData")
            const displayPoints = document.getElementsByClassName("pointsData")
            const displayRank = document.getElementsByClassName("rankData")

            // Create HTML elements to display the JSON data
            const nameElement = document.createElement("h3");
            nameElement.textContent = data.username;

            const rankElement = document.createElement("h3");
            rankElement.textContent = data.rank;

            const pointsElement = document.createElement("h3");
            pointsElement.textContent = data.points;



            // Append the elements to the "dataDisplay" div
            displayUsername.appendChild(nameElement);
            displayRank.appendChild(rankElement);
            displayPoints.appendChild(pointsElement)
        })
        .catch(error => console.error("Error fetching JSON data:", error));


</script>
    <!-- <div class="container-sm pt-5">
        <div class="container text-center">
            <div class="row">
            <div class="col">
                <div class="card pt-2">
                    <h3>Rank</h3>
                </div>
            </div>
            <div class="col">
                <div class="card pt-2">
                    <h3>Player</h3>
                </div>
            </div>
            <div class="col">
                <div class="card pt-2">
                    <h3>Score</h3>
                </div>
            </div>
            </div>
        </div>
    </div> -->
    {% include 'partials/footer.html' %}