{% include 'partials/header.html' %}
<div class="container-sm mt-5 rounded-5">
    <div class="row bg-secondary rounded-3">
        <div class="col-5 mt-1 mb-1">
            <img src="../static/public/Profile_img.jpg" style="border-radius: 50%;">
        </div>
        <div class="col-7 pt-5 text-white">
<!--           <h2 class="">Jan kowalski</h2> -->
            <h2>{{name}}</h2>
        </div>
    </div>
</div>
<div class="container-sm mt-5 rounded-3 text-light" style="height: 250px; background-color: #222831;">
    <div class="row ">
        <div class="col-4 mt-1 rounded-3" style="padding-top: 80px;">
            <h4 style="max-width: 250px;">Ilość mostów zebranych przez użytkownika</h4>
        </div>
        <div class="col-3 text-center" style="padding-top: 100px;">
            <h1 class="a">4/22</h2>
        </div>
        <div class="col-4">
            <div class="bg-light rounded-3" style="margin-top: 110px;">
                <div class="bg-secondary rounded-3" style="height:40px;width:60%"></div>
            </div> 
        </div>
    </div>
</div>
<div class="container-sm">
    <div class="text-center bg-dark text-white mt-5 rounded-3 pt-2 pb-1">
        <h3>Niedawno odblokowane mosty</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <img src="../static/public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3">
                <img src="../static/public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3">
                <img src="../static/public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% include 'partials/footer.html' %}