{% include 'partials/header.html' %}
<div class="container-sm mt-5 rounded-5">
    <div class="row bg-secondary rounded-3">
        <div class="col-5 mt-1 mb-1">
            <img src="../static/public/Profile_img.jpg" style="border-radius: 50%;">
        </div>
        <div class="col-7 pt-5 text-white name_div">
        </div>
    </div>
</div>
<div class="container-sm mt-5 rounded-3 text-light" style="height: 250px; background-color: #222831;">
    <div class="row ">
        <div class="col-4 mt-1 rounded-3" style="padding-top: 80px;">
            <h4 style="max-width: 250px;">Ilość mostów zebranych przez użytkownika</h4>
        </div>
        <div class="col-3 text-center points_div" style="padding-top: 100px;">
        </div>
        <div class="col-4">
            <div class="bg-light rounded-3" style="margin-top: 110px;">
                <div id="line" class="bg-secondary rounded-3"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $.post("/api/profile/user", function (data) {
        $(".name_div").append("<h2>" + data.username + "</h2?")
        $(".points_div").append("<h1>" + data.points + "</h1>")
        $("#line").css({"width": data.points/10 + "%", "height": "40px"})
        // console.log(data)   
        for (const bridge of data.visited_bridges) {

            const $unlocked_bridge = $([
                '<div class="col">',
                    '<div class="card mt-3">',
                        '<img src="' + bridge.image_path + '" class="card-img-top" alt="...">',
                            '<div class="card-body">',
                                '<h5 class="card-title">'+ bridge.name + '</h5>',
                                '<p class="card-text">' + bridge.description +'</p>',
                                '<a href="/forum/"' + bridge.bridgeid + ' class="btn btn-primary">Strona mostu</a>',
                            '</div>',
                    '</div>',
                '</div>'
            ].join(''));
            $(".visited_bridges").append($unlocked_bridge)
        }
        for (const achievement of data.achievements){
                        
            $unlocked_achievement = $([
                '<div class="row">',
                    '<div class="col-3 mt-2">',
                        '<img src="../static/public/koty_za_ploty.png" style="height: 100px;">',
                    '</div>',
                    '<div class="col-9" style="display: flex; align-items: center; justify-content: end;">',
                        '<h2>' + achievement.name + '</h2>',
                    '</div>',
                '</div>'
            ].join(''));
            $('#achievements-container').append($unlocked_achievement);
        }

    });
</script>
<div class="container-sm">
    <div class="text-center bg-dark text-white mt-5 rounded-3 pt-2 pb-1">
        <h3>Niedawno odblokowane mosty</h3>
    </div>
    <div class="row visited_bridges" id="bridges1">
    </div>
</div>
<div class="container-sm mt-5 text-white bg-dark card align-middle" style="height: 120px;">
    <div class="row achievements" id="achievements-container">
    </div>
</div>
{% include 'partials/footer.html' %}