<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container-sm mt-5 rounded-5">
    <div class="row bg-secondary rounded-3">
        <div class="col-5 mt-1 mb-1">
            <img src="public/Profile_img.jpg" style="border-radius: 50%;">
        </div>
        <div class="col-7 pt-5 text-white">
            <h2 class="">Jan kowalski</h2>
        </div>
    </div>
</div>
<div class="container-sm mt-5 rounded-3 text-light" style="height: 250px; background-color: #222831;">
    <div class="row ">
        <div class="col-4 mt-1 rounded-3" style="padding-top: 80px;">
            <h4 style="max-width: 250px;">Ilość mostów zebranych przez użytkownika</h4>
        </div>
        <div class="col-3 text-center" style="padding-top: 100px;">
            <h1 class="a">4/22</h2>
        </div>
        <div class="col-4">
            <div class="bg-light rounded-3" style="margin-top: 110px;">
                <div class="bg-secondary rounded-3" style="height:40px;width:60%"></div>
            </div> 
        </div>
    </div>
</div>
<div class="container-sm">
    <div class="text-center bg-dark text-white mt-5 rounded-3 pt-2 pb-1">
        <h3>Niedawno odblokowane mosty</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <img src="public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3">
                <img src="public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mt-3">
                <img src="public/most_grunwaldzki.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Most grunwaldzki</h5>
                  <p class="card-text">Ewentualny opis mostu</p>
                  <a href="/forum.html" class="btn btn-primary">Strona mostu</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>